.gallery {
  width: 100%;
}
.gallery__container {
  display: flex;
  flex-direction: row;
  padding: 1.2rem;
}
.image {
  position: relative;
  margin: 0 10px;
}
.image .image__block {
  max-height: 200px;
}

.button-delete,
.button-delete:hover {
  background-color: red;
}

.button-delete {
  position: absolute;
  right: 0px;
  height: 25px;
  width: 25px;
  padding: 5px;
}

.button-delete:hover {
  background-color: hsl(0, 100%, 30%);
}
